<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap">
  <link rel="stylesheet" href="css/app.min.css">

  <title>HotGo</title>
</head>

<body>
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1 class="mb-0">Tarjeta de Crédito</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
    <form id="payment_form" autocomplete="off">
      <div class="form-row">
        <div class="form-group col">
          <input type="text" class="form-control pd-control" name="name" id="name" placeholder="Nombre del Titular"
            autofocus>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <input type="email" class="form-control pd-control" name="email" id="email" placeholder="Email"
            value="{{ email }}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <input type="tel" class="form-control pd-control credit-card" name="cc_num" id="cc_num"
            placeholder="Número de Tarjeta">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-xs-12 col-md-6">
          <input type="text" class="form-control pd-control" name="cc_expiration" id="cc_expiration"
            placeholder="Fecha de Expiración">
        </div>
        <div class="form-group col-xs-12 col-md-6">
          <input type="tel" class="form-control pd-control" name="cc_cvv" id="cc_cvv" placeholder="Código de Seguridad">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <input type="tel" class="form-control pd-control" name="id_card" id="id_card" placeholder="Cédula">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-xs-12 col-md-6">
          <select class="form-control pd-control" name="state" id="state">
            <option value="" disabled selected>Departamento</option>
          </select>
        </div>
        <div class="form-group col-xs-12 col-md-6">
          <select class="form-control pd-control" name="city" id="city" readonly>
            <option value="" disabled selected>Ciudad</option>
          </select>
        </div>
        <!-- <div class="form-group col-xs-12 col-md-6">
          <input type="text" class="form-control pd-control" name="city" id="city" placeholder="Ciudad" readonly
            autocomplete="nope">
        </div> -->
      </div>
      <div class="form-row">
        <div class="form-group col">
          <input type="text" class="form-control pd-control" name="address" id="address" placeholder="Dirección">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <input type="tel" class="form-control pd-control" name="phone" id="phone" placeholder="Teléfono">
          <input type="hidden" id="user_id" name="user_id" value="">
          <input type="hidden" id="token" name="token" value="">
          <input type="hidden" id="cc_exp_month" name="cc_exp_month" value="">
          <input type="hidden" id="cc_exp_year" name="cc_exp_year" value="">
          <input type="hidden" id="cc_fr_number" name="cc_fr_number" value="">
          <input type="hidden" id="cc_fr_name" name="cc_fr_name" value="">
          <input type="hidden" id="cc_number" name="cc_num" value="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col mb-0">
          <hr>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <button class="btn btn-pd btn-block" type="submit">
            Suscribirse
          </button>
        </div>
      </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/vendor/moment.js"></script>
  <script src="js/vendor/cleave.min.js"></script>
  <script src="js/vendor/typeahead.jquery.min.js"></script>
  <script src="js/vendor/bloodhound.min.js"></script>
  <script src="js/vendor/validate.min.js"></script>
  <script src="js/app.min.js"></script>
</body>

</html>